<header>
  <div class="flex flex-col -justify-center items-center bg-nba_white">
    <img src="../assets/img/nba_logo.png" class="w-11" />
    <h1 class="m-3 font-Roboto">NBA Data</h1>

    <button class="btn mx-4 my-1 px-8 py-2 rounded-lg hover:bg-nba_blue">
      <a routerLink="/" class="text-lg">Info</a>
    </button>
  </div>
  <div class="flex justify-center font-Roboto bg-nba_red">
    <button
      class="btn mx-4 my-1 px-8 py-2 rounded-lg hover:bg-nba_blue hover:rotate-3"
    >
      <a routerLink="top-scorers" class="text-lg">Scorers</a>
    </button>
    <button
      class="btn mx-4 my-1 px-8 py-2 rounded-lg hover:bg-nba_blue hover:-rotate-3"
    >
      <a routerLink="top-assists" class="text-lg">Assists</a>
    </button>
    <button
      class="mx-4 my-1 px-8 py-2 rounded-lg hover:bg-nba_blue hover:rotate-3"
    >
      <a routerLink="top-rebounds" class="text-lg">Rebounds</a>
    </button>
    <button
      class="mx-4 my-1 px-8 py-2 rounded-lg hover:bg-nba_blue hover:-rotate-3"
    >
      <a routerLink="search-players" class="text-lg">Search</a>
    </button>
  </div>
</header>
