<p-divider align="center" type="solid">
  <b class="text-xl">NBA Stats api</b>
</p-divider>
<p class="text-base flex justify-center text-center">
  Pelaajien tilastojen hakemiseen käytin
  <a
    class="text-nba_red"
    href="https://documenter.getpostman.com/view/24232555/2s93shzpR3"
    target="_blank"
    >NBA Stats API.</a
  >
  Tilastot ovat vuosilta 2006-2023.
</p>

<p-divider align="center" type="solid">
  <b class="text-xl">Angular Material</b>
</p-divider>
<p class="text-base justify-center text-center">
  Käytin
  <a class="text-nba_red" href="https://material.angular.io/" target="_blank"
    >Angular Material</a
  >
  komponenttikirjastoa tässä lopputyössä. Käytin table komponettia pelaajien
  tilastojen esittämistä varten.
</p>
<p class="text-base justify-center text-center">
  Myös käytin matTooltippiä topRebounds komponentissa selkeyttämään eri
  levypallo tilastojen nimiä.
</p>

<p-divider align="center" type="solid">
  <b class="text-xl">PrimeNG</b>
</p-divider>
<p class="text-base justify-center text-center">
  Käytin myös toista komponenttikirjastoa nimeltään
  <a class="text-nba_red" href="https://primeng.org/" target="_blank">PrimeNG</a
  >. Sieltä käytin kahta valmista komponettia Accordionia sekä divideria.
</p>
<p class="text-base justify-center text-center">
  Divideriä käyttän tässä sivulla ja accordionia käytän pelaajien hakemisessa.
</p>

<p-divider align="center" type="solid">
  <b class="text-xl">NGX Spinner</b>
</p-divider>
<p class="text-base justify-center text-center">
  Latausspinnereihin käytin
  <a
    class="text-nba_red"
    href="https://napster2210.github.io/ngx-spinner/"
    target="_blank"
    >NgxSpinner</a
  >
  kirjastoa.
</p>

<p-divider align="center" type="solid">
  <b class="text-xl">Tailwind</b>
</p-divider>
<p class="text-base justify-center text-center">
  Käytin tyylittelyyn tässä työssä
  <a href="https://tailwindcss.com/" target="_blank" class="text-nba_red"
    >Tailwindia</a
  >.
</p>
